---
import AuthorCard from '@/components/AuthorCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllAuthors } from '@/lib/data-utils'

import AboutContent from '@/content/about/about.mdx';

const authors = await getAllAuthors()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
    {
      authors.length > 0 ? (
        <ul class="flex flex-col gap-4">
          {
            authors
              // .filter((author) => author.id === "sadman")
              .map((author) => (
                <li>
                  <AuthorCard author={author} />
                </li>
              ))
          }
        </ul>
      ) : (
        <br/>
      )
    }      
    </div>

    <div class="prose max-w-xl mt-8 mb-8">
      <AboutContent />
    </div>
  </section>
</Layout>
