---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section>
    <div class="rounded-lg border border-secondary/20 bg-foreground p-4">
      <div class="flex flex-col space-y-1.5 p-2">
        <h3 class="sr-only">Sadman Hossain</h3>
        <p class="text-secondary text-lg leading-[0.85rem]">
          <Link
            href={`${SITE.href}/about`}
            class="@apply font-black text-secondary hover:text-primary hover:bg-secondary break-words underline underline-offset-[3px] transition-colors p-[3px] pb-[6px] -mx-0.5 duration-0"
          >
            Sadman Hossain
          </Link>

            is a software engineer who likes reading sci-fi & building scalable systems.  
            Currently living in Toronto & working at&nbsp;
          <Link
            href="https://www.cppinvestments.com/"
            external
            class="@apply font-black text-secondary hover:text-primary hover:bg-secondary break-words underline underline-offset-[3px] transition-colors p-[3px] pb-[6px] -mx-1.5 duration-0"
          >
            CPP Investments
          </Link>
          .
        </p>
      </div>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
